/*table, th, td{
	border: 1px solid black;
}

table {
	width: 60%;
	height: 100px;
}

.edit{
	display: flex;
	align-content: flex-end;
}*/

.container{
	background-color: #E6E6FA;
}

.part1{
	display: flex;
	justify-content: center;
}

.exp-list{
	max-width: 280px;
	margin: center;
	padding-left: 40%;
}

.exp-buttons{
	display: flex;
	justify-content: center;
	
}

.purchase-inputs{
	display: flex;
	justify-content: center;
}

.purchase-buttons{
	display: flex;
	justify-content: center;
}
